tmp
venv
profiles.py
.env

cache
logs
browser-data
*.env
schedule
__pycache__
downloads
credentials
downloaded_videos.txt
tests
videos
schedule-videos
replies-x
eternity-x
youtube
commands
community
google_search_results
google_search_cache
instagram
instagram_videos
pool
temp
processed_urls.txt
processed_subtitles_urls.txt
config.json
*.sh
processed_tweets.json
.vscode
logs