tmp
venv
profiles.py
.env

cache
logs
browser-data
schedule
__pycache__
downloads
service_account.json
downloaded_videos.txt
tests
videos
schedule-videos
replies-x
eternity-x
commands
community
google_search_results
google_search_cache
instagram_videos
pool
temp
processed_urls.txt
processed_subtitles_urls.txt
config.json
*.sh
processed_tweets.json
.vscode
logs